
#Other Various Files & Operating System 
bin/

build/
/build/
\build\
build\

dist/
/dist/
dist\
\dist\

*.class
.classpath
*.classpath
classpath
*.prefs

#OS related
.DS_STORE
.Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.localized

*.xml

sysProps.xml